body {

    /*background:papayaWhip*/
    background: #ffccdd;
    font-family: Times-new-roman, Georgia, Garamond, serif;
}

div.side-by-side {
    display: flex;
    font-size:larger
}

img {
    width: 80%;
    max-width: 600px;
}

.featureBlock {
    background-color:#ff0066;
    font-size: smaller;
    color: white
}
/*<!-- I added some changes to the css code in my initial submission, and I'm not sure how much you'd like me to change other than what's already been done, so I haven't done much other than edit the size threshold of images. -->*/

