body {

    
    background: #ffccdd;
    font-family: Times-new-roman, Georgia, Garamond, serif;
}

div.side-by-side {
    display: flex;
    font-size:larger
}

img {
    width: 80%;
    max-width: 600px;
}

.featureBlock {
    background-color:#ff0066;
    color: white;
    font:bold;
    padding: 4px;
}

figure {
  border: 1px;
  padding: 4px;
  margin: auto;
  text-align: center;
}

figcaption {
  background-color: hotpink;
  color: navy;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: white;
  text-decoration: none;
}

a:hover {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

